importFrom(fs, "path_package")
importFrom(readxl, "excel_sheets")
importFrom(scales, "comma")
importFrom(scales, "scientific")
import(dplyr)
import(R6)
import(purrr)
importFrom(magrittr, "%>%")
export(ifelseProper)
export(is.Class)
export(strReplaceAll)
export(formatDigitsWaiver)
export(formatDigits)
export(formatMinimumDigits)
export(formatDigitsLargeNumbers)
export(formatScientificDigits)
export(formatScientificMinimumDigits)
export(emptyFunction)
export(dataFunctions)
export(dataElement)
export(dataInfo)
export(dataList)
export(readData)
export(readDataFrame)
export(readCSV)
export(readExcel)
export(fileInfo)
export(fileInfo.CSV)
